@import "../../colors/colors.json";
@import "../../spacing/spacing-definitions.json";

.focus-data-details-data {

  &__content {
    background-color: $color-highlight;
    color: $color-lightest;
    padding: map_get($spacing-sizes, 's');
  }

  &__close {
    position: absolute;
    right: 0;
    top: -15px;
    padding: 4px;
    background-color: $color-dark;
  }

  &__icon {
    fill: $color-lightest;
  }
}
