@import "../../colors/colors.json";

.mntns-level-progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mntns-level-progress__label {
  min-width: 100px;
}

.mntns-level-progress__indicator {
  position: relative;
  margin-right: map_get($spacing-sizes, 's');

  span {
    overflow: hidden;
    transition: width 2000ms 300ms ease-out;
  }

  svg {
    width: 60px;
    height: 30px;
  }

  span:first-child {
    fill: $color-highlight;
    position: absolute;
    left: 0;
    top: 0;
  }

  span:last-child {
    fill: $color-light;
  }
}
