@import "./../colors/colors";

$primary-button-line-width: 50px;

.primary-button {
  display: inline-block;
  position: relative;
  color: $color-dark;
  padding-left: $primary-button-line-width + 4;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: $primary-button-line-width;
    height: 1px;
    background-color: $color-dark;
  }
}

