@import "./../colors/colors";

$primary-button-line-width: 50px;

.primary-button {
  display: inline-block;
  position: relative;
  color: $color-dark;
  padding-left: $primary-button-line-width + 4;
  cursor: pointer;
  text-decoration: none;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
  }

  &:before {
    background-color: $color-dark;
    width: $primary-button-line-width;
  }

  &:after {
    background-color: $color-secondary-highlight;
    width: 0;
    transition: width 300ms ease-out;
  }

  &:hover {
    &:after {
      width: $primary-button-line-width;
    }
  }
}

