@import "./typography-definitions.json";

h1, .h1, .h1-appearance {
  font-family: $font-family-highlight;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  margin: 0;
}

h2, .h2, .h2-appearance {
  font-family: $font-family-highlight;
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  margin: 0;
}

h3, .h3, .h3-appearance {
  font-family: $font-family-highlight;
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  margin: 0;
}