@import "headlines";

@font-face {
  font-family: 'orator_fsregular';
  src: url("./assets/fonts/Orator-webfont.eot");
  src: url("./assets/fonts/Orator-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Orator-webfont.woff") format("woff"), url("./assets/fonts/Orator-webfont.ttf") format("truetype"), url("./assets/fonts/Orator-webfont.svg#orator_fsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}