@import "./../colors/colors.json";

.text-color-highlight {
  color: $color-highlight;
}

.text-color-secondary-highlight {
  color: $color-secondary-highlight;
}

::-moz-selection {
  color: $color-lightest;
  background: $color-secondary-highlight;
}

::selection {
  color: $color-lightest;
  background: $color-secondary-highlight;
}