@import "./../colors/colors.json";

.bare-link {
  position: relative;
  transition: color 300ms;
  text-decoration: none;
  color: $color-lightest;
  transition: color 300ms;

  &:after {
    content: '→';
    display: inline-block;
    font-weight: 500;
    transition: transform 300ms;
  }

  &:visited,
  &:any-link {
    color: $color-dark;
  }

  &:hover {
    color: $color-secondary-highlight-shaded;
    &:after {
      transform: translateX(3px);
      color: $color-secondary-highlight-shaded;
    }
  }
}
