@import "layout-definitions.json";
@import "../../components/media-queries/sass-mq";
@import "../spacing/spacing-definitions.json";

// @todo: store z-indexes in layout-defintions.json
.layout {
  display: grid;
  grid-template-columns: 1fr map_get($layout, "content-area-width-small") 1fr;
  grid-template-rows: map_get($layout, "header-height") 1fr map_get($layout, "footer-height");
  grid-template-areas:
    ". header header ."
    ". content content ."
    ". footer footer .";

  @include mq($from: 'm') {
    grid-template-columns: 1fr map_get($layout, "header-row-width") calc(#{map_get($layout, "content-area-width-medium")} - #{map_get($layout, "header-row-width")}) 1fr;
    grid-template-areas:
            ". header header ."
            ". . content ."
            ". footer . .";
  }
}

.layout__header {
  position: relative;
  z-index: 10;
  grid-area: header;
}

.layout__content {
  position: relative;
  z-index: 5;
  grid-area: content;

  padding: map_get($spacing-sizes, 's') 0;

  @include mq($from: 'm') {
    padding: map_get($spacing-sizes, 'xl') 0;
  }
}

.layout__footer {
  position: relative;
  z-index: 10;
  grid-area: footer;
}
