@import "./../spacing/spacing-definitions.json";

.footerbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.footerbar__list-item {
  display: inline-block;

  margin-right: map_get($spacing-sizes, 's');

  &:last-child {
    margin-right: 0;
  }
}