@import "./../spacing/spacing-definitions.json";

.footerbar {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.footerbar__list-item {
  display: inline-block;
  margin-bottom: map_get($spacing-sizes, 's');
}
