<div class="backdrop"
     v-mousemove-follow="{
        activated: mousemoveActivated,
        initialOffsetY: -16,
        initialOffsetX: 16,
        maxOffsetY: -32,
        maxOffsetX: 32,
        transitionDuration: 1700
    }"
>
    <span v-if="triggerLabel"
          :class="{'revealing-content--reveal': activated}"
          class="backdrop__activation-trigger revealing-content">
        <svg role="img">
            <use xlink:href="#icon-mntns"></use>
        </svg>
        <span class="small-text-appearance">{{ triggerLabel }}</span>
    </span>
</div>