<div class="mnts"
     @click="expandMnts()">

    <div v-show="isActivated"
         class="mnts__header revealing-content revealing-content--reveal">
        <level-progress></level-progress>
    </div>

    <generator @intersection="onIntersection($event)"
               :data="data"></generator>

    <transition name="mntns-label--show-transition">
        <div class="mnts__label mntns-label"
             :class="{'mntns__label--outside': outside}"
             :style="{left: focusedEvent.x + 'px', top: focusedEvent.y + 'px'}"
             v-if="focusedData">

            <svg class="mntns-label__icon"
                 role="img">
                <use xlink:href="#icon-location"></use>
            </svg>

            <div class="mntns-label__content">
                <p class="text-color-highlight margin-vertical--none small-text-appearance">
                    {{level.title}}
                </p>
                <span>
                    {{ focusedData }}
                </span>
            </div>
        </div>
    </transition>

    <transition name="mnts__detailed-data--show-transition">
        <div v-if="isActivated && detailedData"
             class="mnts-detailed-data mnts__detailed-data">
            <a href="#" class="small-text-appearance text-color-highlight"
               @click.prevent="clearDetailedData()">
                Close(esc)
            </a>

            <div class="mnts-detailed-data__label mntns-label ">

                <svg class="mntns-label__icon"
                     role="img">
                    <use xlink:href="#icon-location"></use>
                </svg>

                <div class="mntns-label__content">
                    <p class="text-color-highlight margin-vertical--none small-text-appearance">
                        {{level.title}}
                    </p>
                    <span>
                        {{ detailedData.title }}
                    </span>
                </div>
            </div>

            <div class="margin-top--m">
                <a class="primary-button"
                   alt="view on Github"
                   :href="detailedData.url">
                    view on Github
                </a>
            </div>

            <div v-if="level.index == 1">
                <div class="margin-top--s">
                    <a href="#"
                       alt="dig deeper!"
                       class="primary-button"
                       @click.prevent="forwards()">
                        Dig deeper
                    </a>
                </div>
            </div>

            <div v-if="level.index == 2">
                <a href="#" alt="Back to overview"
                   class="primary-button margin-top--m"
                   @click.prevent="back()">
                    Back to overview
                </a>
            </div>
        </div>
    </transition>

</div>

