<div class="mnts"
     @click="expandMnts()">

    <div v-show="isActivated"
         class="mnts__header revealing-content revealing-content--reveal">
        <mntns-level-navigation></mntns-level-navigation>
    </div>

    <generator @intersection="focusObject($event)"
               :data="data"></generator>

    <transition name="mnts__focused-data--show-transition">
        <div class="mnts__focused-data"
             :class="{'mnts__focused-data--outside': outside}"
             :style="{left: focusedEvent.x + 'px', top: focusedEvent.y + 'px'}"
             v-if="focusedData">

            {{ focusedData }}
        </div>
    </transition>

    <transition name="mnts__detailed-data--show-transition">
        <div v-if="isActivated && detailedData"
             class="mnts__detailed-data">
            <span @click="clearDetailedData()">Close</span>

                <h3>
                    {{ detailedData.title }}
                </h3>

                <div class="margin-top--m">
                    <a class="primary-button"
                       alt="view on Github"
                       :href="detailedData.url">view on Github
                    </a>
                </div>

            <div v-if="level == 1">
                <div class="margin-top--s">
                    <span class="primary-button" @click="forwards()">
                        Dig deeper
                    </span>
                </div>
            </div>

            <div v-if="level == 2">
                <span class="primary-button margin-top--m" @click="back()">
                Back to overview
                </span>
            </div>
        </div>
    </transition>

</div>

