<div class="change-github-user"
     :class="componentClasses"
>
    <form class="change-github-user__form">
        <label class="title h1-appearance visually-hidden"
               for="change-github-user-input">
            enter your Github username
        </label>
        <div class="change-github-user__flex-wrapper"
             :class="{'change-github-user__flex-wrapper--focused': isFocused}">
            <span class="change-github-user__prefix h1-appearance">
        @
        </span>
            <input class="change-github-user__input h1-appearance"
                   id="change-github-user-input"
                   v-model="requestedUserName"
                   :disabled="isDisabled"
                   @focus="focus()"
                   @blur="blur()"
            >
            <button class="change-github-user__submit"
                    :class="{'change-github-user__submit--loading': isLoading}"
                    :disabled="isInvalid || isDisabled"
                    @click="onSubmit"
                    @focus="focus()"
                    @blur="blur()"
                    type="submit"
            >
                <span>→</span>
            </button>
        </div>
    </form>
</div>
