@import "./util/sass/index";

@import "components/a11y/index";
@import "components/experiment-container/index";
@import "components/backdrop/backdrop";
@import "components/buttons/index";
@import "components/colors/index";
@import "components/contact/index";
@import "components/experiment-start/index";
@import "components/footerbar/index";
@import "components/home/index";
@import "components/layout/index";
@import "components/lists/index";
@import "components/levels/index";
@import "components/links/index";
@import "components/loader/index";
@import "components/mnts/index";
@import "components/navbar/index";
@import "components/revealing-content/index";
@import "components/router/index";
@import "components/spacing/index";
@import "components/title/index";
@import "components/typography/index";
@import "components/typography/typography-definitions.json";

html, body, #app-main {
    height: 100%;
    margin: 0;
    padding: 0;
    color: $color-dark;
    font-family: $font-family-main;
    font-size: $font-size-main;
}

body {
  background-color: $color-lightest;
}

[v-cloak] {display: none};
