@import "../../components/media-queries/sass-mq";
@import "./../layout/layout-definitions.json";
@import "./../colors/colors.json";

$background-reduced-width: map_get($layout, 'content-area-width-medium') / 2;
$background-reduced-height: 75vh;

$background-backdrop-offset: 16px;

.background {
  position: fixed;
  width: 90vw;
  height: 50vh;
  top: 25vh;
  left: 5vw;
  transition: all 300ms ease-out;

  @include mq($from: 'm') {

    top: (100 - $background-reduced-height) / 2;
    left: 50%;

    width: $background-reduced-width;
    height: $background-reduced-height;

    &--transition-enter-active,
    &--transition-leave-active {
      transform-origin: top left;
      transition: transform 300ms, opacity 300ms 100ms;
    }

    &--transition-enter,
    &--transition-leave-to {
      transform: scaleX(0);
      opacity: 0;
    }
  }

  &--expanded {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

.background__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: $color-highlight;
  transform: translate($background-backdrop-offset,-$background-backdrop-offset);
  //animation: backgroundEntrance 700ms forwards cubic-bezier(.37,.3,.33,.57);

}

@keyframes backgroundEntrance {

  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate($background-backdrop-offset,-$background-backdrop-offset);
  }
}
