@import "../../components/media-queries/sass-mq";
@import "./../layout/layout-definitions.json";
@import "./../colors/colors.json";

$background-reduced-width: map_get($layout, 'content-area-width-medium') / 2;
$background-reduced-height: 75vh;

$background-backdrop-offset: 16px;

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;


  @include mq($from: 'm') {

    top: (100 - $background-reduced-height) / 2;
    left: 50%;

    width: $background-reduced-width;
    height: $background-reduced-height;
    transition: all 300ms ease-out;

    &--expanded {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      overflow: hidden;

      animation: none;
    }
  }

}

.background__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: $color-highlight;
  animation: backgroundEntrance 700ms forwards cubic-bezier(.37,.3,.33,.57);

}

@keyframes backgroundEntrance {

  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate($background-backdrop-offset,-$background-backdrop-offset);
  }
}