<div class="background"
     :class="{'background--active': isActive,
              'background--expanded': isExpanded,
              'background--transition': expandTransition}"

     @mouseover="onMouseover"
     @mouseout="onMouseout"
>

    <transition :name="transition ? 'background--transition' : null">
        <router-view name="background"></router-view>
    </transition>

    <backdrop :activated="isMouseover"
              v-if="!isExpanded"
              class="background__backdrop"
              :class="{'background__backdrop--visible': !isExpanded}">
    </backdrop>
</div>